@import url(http://weloveiconfonts.com/api/?family=zocial);

$font-lato: 'Lato', sans-serif;
$dark-blue: #2d3c49;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: $font-lato;
  color: $dark-blue;
}

header {
  .logo{
    svg{
      width: 5em;
      margin-top: 20px;
    }
  }

  h1{
    font-size: 3em;
    font-weight: 300;
  }

  h2 {
    font-weight: 400;
  }

  .st0{
    fill: #02B3E4;
  }
}

.hero-img {
  img {
    width: 100%;
    border-top: 2px solid #aaa;
    padding-top: 3em;
  }

}

.projects {
  h3 {
    font-size: 3em;
    font-family: $font-lato;
    font-weight: 300;
    margin: 1em 0 0.4em 0;
    color: #7d97ad;
  }

  .project {
    padding-bottom: 6em;
    color: $dark-blue;
  }

  .project {
    h4{
      font-family: $font-lato;
      font-weight: 400;
      font-size: 2.5em;
      margin: 1em 0 0.4em 0;
    }

    a {
      display: block;
      text-align: center;
      font-size: 1.2em;
    }

    img {
      width: 100%;
    }

    [class*="zocial-"]:before {
      font-family: 'zocial', sans-serif;
      font-size: 1.5em;
      padding-right: 0.5em;
    }
  }
}
